@model List<PersonResponse>
@{
    ViewBag.Title = "Person";
}

<form action="~/Person/index" method="get">
    <h1>Person</h1>
    <a href="~/Person/Create" class="button link-hover margin-auto">Create Person</a>

    <div class="box flex">
        <div class="flex-1">
            <select class="form-input" name="searchField">
                @foreach (string field in ViewBag.SearchFields)
                {
                    if (field == ViewBag.SearchField)
                    {
                        <option value="@field" selected>@field</option>
                        continue;
                    }
                    <option value="@field">@field</option>
                }
            </select>
        </div>
        <div class="flex-1">
            <input type="search" id="Search" class="form-input" name="searchString" placeholder="Search" value="@ViewBag.SearchString" />
        </div>
        <div class="flex-1">
            <button class="button button-blue-back">Search</button>
            <a href="~/person/index" class="link-hover">Clear all</a>
        </div>
    </div>

    <div class="table-container">

        <table class="table w-100 mt">
            <thead>
                <tr>
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Name" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Email" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Address" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "DateOfBirth" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Age" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Country" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "Gender" } })
                    @await Html.PartialAsync("_GridColumnHeader", new ViewDataDictionary(ViewData) { { "FieldName", "ReceiveNewsLetters" } })
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Name</td>
                        <td>@person.Email</td>
                        <td>@person.Address</td>
                        <td>@person.DateOfBirth?.ToShortDateString()</td>
                        <td>@person.Age</td>
                        <td>@person.Country</td>
                        <td>@person.Gender</td>
                        <td>@person.ReceiveNewsLetters</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@person.Id" class="btn btn-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@person.Id" class="btn btn-info">Details</a>
                            <a asp-action="Delete" asp-route-id="@person.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>