@model List<PersonResponse>
@{
	Layout = null;
}
<link rel="stylesheet" href="@("http://" + Context.Request.Host.ToString() + "/StyleSheet.css")" />

<h1>Person</h1>
    <div class="table-container">

        <table class="table w-100 mt">
            <thead>
                <tr>
				<th >Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>DateOfBirth</th>
                <th>Age</th>
                <th>Country</th>
                <th>Gender</th>
                <th>ReceiveNewsLetters</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>@person.Name</td>
                        <td>@person.Email</td>
                        <td>@person.Address</td>
                        <td>@person.DateOfBirth?.ToShortDateString()</td>
                        <td>@person.Age</td>
                        <td>@person.Country</td>
                        <td>@person.Gender</td>
                        <td>@person.ReceiveNewsLetters</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
